#PORT
PORT=4000
HOST=0.0.0.0

#DB
MONGO_URL="mongodb://localhost:27017/PingUp"

#INNGEST
INNGEST_EVENT_KEY= YOUR INNGEST EVENT KEY
INNGEST_SIGNING_KEY= YOUR INNGEST SIGNING KEY

#CLERK
CLERK_PUBLISHABLE_KEY= YOUR CLERK KEY
CLERK_SECRET_KEY= YOUR CLERK KEY

#IMAGEKIT
IMAGEKIT_PRIVATE_KEY= YOUR IMAGEKIT KEY